<!DOCTYPE html>
<html lang="ja" ng-app="mataTabi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>アプリ情報登録</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Other styles, scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" ng-controller="AppCtrl">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">また旅・管理</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="logout()">ログアウト<span class="glyphicon glyphicon-off" aria-hidden=true></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- サイドバー -->
    <div class="container-fluid" ng-controller="AppCtrl">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
                <a href="#" ng-click="openControl()">
                    <span class="glyphicon glyphicon-cog" aria-hidden=true>コントロールパネル(管理者)</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="openMyPage()">
                    <span class="glyphicon glyphicon-cog" aria-hidden=true>マイページ</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="openUserRegister()">
                    <span class="glyphicon glyphicon-plus" aria-hidden=true>ユーザー登録(管理者)</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="openSpotList()">
                    <span class="glyphicon glyphicon-list" aria-hidden=true>スポット一覧</span>
                </a>
            </li>
            <li class="active">
                <a href="#" ng-click="openAppRegister()">
                    <span class="glyphicon glyphicon-align-left" aria-hidden=true>アプリ情報登録</span>
                </a>
            </li>
       <!-- <li>
                <a href="#">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden=true>連絡事項</span>
                </a>
            </li> -->
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>アプリ情報登録</h2>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-5 main">
          <label for="app-name-input">アプリ名</label>
          <div class="input-group">
              <input type="text" placeholder="アプリ名" class="form-control" id="app-name-input" ng-model=app.name>
          </div>

          <br />
          <label for="about-input">このアプリについて</label>
          <div class="input-group">
              <textarea class="form-control"
                        id="about-input"
                        placeholder="このアプリについて......"
                        cols="45"
                        rows="8"
                        ng-model=app.about></textarea>
          </div>

          <br />
          <label for="app-image-input">アプリイメージ画像</label>
          <div class="input-group">
              <input type="file" id="app-image-input" ng-model=app.image accept="image/*" app-fileread>
          </div>

          <br />
          <label for="app-image-input">Facebookアイコン画像</label>
          <div class="input-group">
              <input type="file" id="facebook-icon-input" ng-model=app.facebook_icon accept="image/*" app-fileread>
          </div>

          <br />
          <label for="app-manager-contact-input">アプリ管理者の連絡先</label>
          <div class="input-group">
              <input
                    type="text"
                    class="form-control"
                    id="app-manager-contact-input"
                    placeholder="電話番号もしくはメールを入力してください"
                    ng-model=app.contact_information>
          </div>

          <br />
          <label for="app-link-input">リンク情報</label>
              <div id="app-link-input">
                <table>

                  <tr>
                    <td>
                      <div style="margin:10px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="http://www.abc.com" ng-model=app.link_1>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="リンクの表示名(例):ABC社" ng-model=app.link_1_name>
                        </div>
                      </div>
                    </td>



                    <td>
                      <div style="margin:10px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="http://www.def.com" ng-model=app.link_2>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="リンクの表示名(例):DEF社" ng-model=app.link_2_name>
                        </div>
                      </div>
                    </td>
                  </tr>



                  <tr>
                    <td>
                      <div style="margin:10px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="http://www.ghi.com" ng-model=app.link_3>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="リンクの表示名(例):GHI社" ng-model=app.link_3_name>
                        </div>
                      </div>
                    </td>


                    <td>
                      <div style="margin:10px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="http://www.jkl.com" ng-model=app.link_4>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="リンクの表示名(例):JKL社" ng-model=app.link_4_name>
                        </div>
                      </div>
                    </td>
                  </tr>


                  <tr>
                    <td>
                      <div style="margin:10px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="http://www.mno.com" ng-model=app.link_5>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="リンクの表示名(例):MNO社" ng-model=app.link_5_name>
                        </div>
                      </div>
                    </td>
                  </tr>

                </table>
              </div>

          <br />
          <button class="btn btn-lg btn-default" ng-click="registerApp()">
              <span class="glyphicon glyphicon-plus" aria-hidden=true></span>
              登録
          </button>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
