<!DOCTYPE html>
<html ng-app="mataTabi">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

	<title>新規登録</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Other scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="controllers/controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyApUY508Q917TvPTwIiPYu0EhvEYQNJuDQ"></script>

	<!--lightbox -->
	<link rel="stylesheet" type="text/css" href="css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- 日付選択ウィジェット-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'yy/mm/dd' });
     });
    </script>

	</head>
	<body>

    <!-- トップナビゲーション -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" ng-controller="AppCtrl">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">また旅・管理</p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
         <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#" ng-click="openControl()">コントロールパネル</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="logout()">ログアウト<span class="glyphicon glyphicon-off" aria-hidden=true></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!--サイドバー-->
    <div class="container-fluid" ng-controller="AppCtrl">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
                <a href="#" ng-click="openMyPage()">
                    <span class="glyphicon glyphicon-cog" aria-hidden=true>マイページ</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="openMySpotList()">
                    <span class="glyphicon glyphicon-list" aria-hidden=true>マイスポット一覧</span>
                </a>
            </li>
       <!-- <li>
                <a href="#">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden=true>連絡事項</span>
                </a>
            </li> -->
          </ul>
        </div>
    </div>

	<div class="container" ng-controller="AppCtrl" >
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1>スポット登録</h1>

	<!-- <label style="width: 200px;">
		<input id="cb001" type="checkbox" ng-click="getTwitterComments()" ng-model="twitter"/>
		<label class="btn btn-block btn-social btn-twitter" for="cb001" >twitter データ取得<img  id="location" src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Twitter-icon.png"></label>
	</label> -->

	<!-- <label style="width: 200px;">
		<input id="cb002" type="checkbox" ng-click="getImages()" ng-model="instagram"/>
		<label class="btn btn-block btn-social btn-instagram" for="cb002" >Instagramの写真取得<img  id="location" src="https://www.seeklogo.net/wp-content/uploads/2015/07/instagram-flat-icon-circle-image.png"></label>
	</label> -->

	<table class="table" style="table-layout: fixed;">
		<thead>
			<tr>
				<th class="col-sm-2"></th>
				<th class="col-sm-6"></th>
			</tr>
		</thead>
		<tbody>
          <form>
    		<!-- twitter コメント-->
			</td></tr>
			<!-- <tr ng-show="twitter"><td></td>
				<td>
		    		<tt><select size="20" position="absolute"  class="form-control" name="multipleSelect" id="multipleSelect" ng-model="spot.twitter_comments" multiple>
			      			<option ng-repeat="text in twitter_comments">{{text}}</option>
		    			</select>
		    			<label>{{spot.twitter_comments}}</label>
		    		</tt><br>
		    	</td>
    		</tr> -->
						<tr>
							<td>スポット名
								<span class="text-danger"> *必須*
									<br /><br />※同一名のスポットがすでに存在する場合は追加されません。
									<br /><br />※スポット名はTwitterの口コミ検索、口コミ数検索に使用します。
									<br /><br />※「（」もしくは「(」から後の文字は除外されます。読み仮名等には、こちらの括弧書きをご利用下さい。
								</span>
							</td>
							<td>
								<input class="form-control" placeholder="スポット名(日本語)" ng-model="spot.name" required>
								<br />
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">スポット名(言語別)</h3>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-6">
												<input class="form-control" placeholder="スポット名(英語)" ng-model="spot.name_english">
											</div>
											<div class="col-lg-6">
												<input class="form-control" placeholder="スポット名(中国語)" ng-model="spot.name_chinese">
											</div>
											<div class="col-lg-6">
												<input class="form-control" placeholder="スポット名(韓国語)" ng-model="spot.name_korean">
											</div>
											<div class="col-lg-6">
												<input class="form-control" placeholder="スポット名(フランス語)" ng-model="spot.name_french">
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

            <!-- 説明文など -->
            <tr>
                <td>スポット説明</td>
                <td>
                    <textarea
                        id="fb-message"
                        rows="3"
                        class="form-control"
                        placeholder="スポット説明(日本語)"
                        ng-model=spot.description_japanese></textarea>
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">翻訳文(言語別)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <textarea
                                        rows="2"
                                        class="form-control"
                                        placeholder="スポット説明(英語)"
                                        ng-model=spot.description_english></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <textarea
                                        rows="2"
                                        class="form-control"
                                        placeholder="スポット説明(フランス語)"
                                        ng-model=spot.description_french></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <textarea
                                        rows="2"
                                        class="form-control"
                                        placeholder="スポット説明(中国語)"
                                        ng-model=spot.description_chinese></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <textarea
                                        rows="2"
                                        class="form-control"
                                        placeholder="スポット説明(韓国語)"
                                        ng-disabled="spot.facebook"
                                        ng-model=spot.description_korean>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- location search -->
			<tr><td>位置検索</td>
				<td><input type="text" placeholder="スポット名称・住所" id="my-address">
 					<button class="btn btn-primary" id="getCords" ng-click="codeAddress()">検索</button>
					<div id="out"></div>
					<input type="hidden" id="lat" readonly></input>
					<input type="hidden" id="lon" readonly></input>
					<ul id="plus-location" class ="hidden">
						<li><input type="checkbox" id="cb501"   ng-model="spot.lat" ng-click="addLocation()" />
		    				<label for="cb501" >この位置情報を登録する<img id="location" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-128.png"></label>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>スポットタグ
					<span class="text-danger"><br />カンマ(,)区切りで複数入力可能です</span>
				</td>
				<td><input class="form-control" ng-model=spot.tag_spot></td>
			</tr>
			<tr>
				<td>スポットタグinstagram用
					<span class="text-danger"><br />カンマ(,)区切りで複数入力可能です</span>
				</td>
				<td><input class="form-control" ng-model=spot.tag_instagram></td>
			</tr>
			<tr>
                <td>スポット登録日</td>
                <td><input type="text" id="datepicker" class="form-control" ng-disabled="spot.facebook" ng-model=spot.date></td>
            </tr>

			<!--添付ファイル -->
			<br/>
			<tr class="col-sm-6">
				<td>
					<div>
						<span>写真1</span>
						<input type="file" name="uploadImage_1" ng-model=spot.photo_file1 accept="image/*" app-fileread>
					</div>
				</td>
				<td>
					<div>
						<span>写真2</span>
						<input type="file" name="uploadImage_2" ng-model=spot.photo_file2 accept="image/*" app-fileread>
					</div>
				</td>
				<td>
					<div>
						<span>写真3</span>
						<input type="file" name="uploadImage_3" ng-model=spot.photo_file3 accept="image/*" app-fileread>
					</div>
				</td>
				<td>
					<div>
						<span>写真4</span>
						<input type="file" name="uploadImage_4" ng-model=spot.photo_file4 accept="image/*" app-fileread>
					</div>
				</td>
				<td>
					<div>
						<span>写真5</span>
						<input type="file" name="uploadImage_5" ng-model=spot.photo_file5 accept="image/*" app-fileread>
					</div>
				</td>
			</tr>
			<tr>
			</tr>
        <!-- instagram 写真選択 -->
        <!-- <tr ng-show="instagram" ><td></td><td>
                <div >
                    <ul>
                        <li ng-repeat="(index, img) in images">
                          <label>
                            <a href="{{img.display_src}}" data-title="" data-lightbox="vacation">
                              <img id="{{'p' + index}}" src="data:image/png;base64,{{img.display_src_base64}}" class="img-thumbnail {{img.approvalStatus ? 'approved' : ''}}">
                            </a>
                            <ul style="margin-left: -60px">
                              <li>
                                <label >
                                  <input class="imageCheckbox" type="checkbox" ng-model="spot['photo' + index]"/>
                                  <img ng-click="setImages('photo' + index, img, 'true', 'p' + index)" id="location" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-128.png">
                                </label>
                              </li>
                              <li style="margin-left: -30px">
                                <label >
                                  <input class="imageCheckbox" type="checkbox" ng-model="spot['photo' + index]"/>
                                  <img ng-click="setImages('photo' + index, img, 'false', 'p' + index)" class="remove-image" src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/07_minus-128.png">
                                </label>
                              </li>
                            </ul>
                          </label>
                        </li>
                    </ul>
                </div>
            </td></tr> -->
            <!-- <tr>
                <td>アプリ名
                    <select id="select-app"
                            ng-model=spot.app
                            ng-options="app as app.name for app in applist">
                    </select>
                </td>
            </tr> -->
			<tr><td></td>
				<td>
					<button class="btn btn-danger" ng-click="openMyPage()">キャンセル</button>
					<button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px; margin-left: 30px;" ng-click="addSpot()">このスポットを登録する</button>
				</td>
			</tr>
          </form>
		</tbody>
	</table>

		<!-- <button ng-show="spot.entry" class="btn btn-info" style="margin-top: 20px; margin-bottom: 20px;"  ng-click="deselect()" >クリア</button>-->

		<!-- <td><button class="btn btn-info" ng-click="update()">Update</button></td> -->
      </div>
	</div>
	</body>
</html>
